.report-background-container {
  display: flex;
  justify-content: center;
}

.report-container {
  /* max-width: 90%; */
  /* width: 920px; */
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}
