.react-datepicker__input-container input {
  display: block;
  font-size: 1rem;
  padding: 18.5px 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 4px;
  line-height: 1.1876em;
  border: 0.7px solid #80808061;
}

.swal-button {
  background-color: #ac0040;
  color: #f8f8f8;
}

.swal-button:not([disabled]):hover {
  background-color: #640126;
}
