.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav-logo {
  padding-left: 10px;
  padding-top: 3px;
}

.img-container {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #ae003f;
  width: 100%;
  /* height: 30px; */
}

.nav-link {
  /* display: inline; */
  /* float: left; */
  color: #dddeda;
  background-color: #ae003f;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  /* background-color: #008183; */
  color: #fff;
}

.nav-right {
  /* float: right; */
  display: flex;
  /* justify-content: flex-end; */
  align-self: flex-end;
}

.modalContent {
  width: 350px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #fff;
  border: 2px solid #ae003f;
  padding: 10px;
}
